<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" 
	"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Circulator Mobile</title>
	<link href="/static/css/default.css" type="text/css" rel="stylesheet" />
</head>
<body>
<h1>{% block title %}{% endblock %}</h1>


{% block body %}{% endblock %}

<img src="http://tracking.percentmobile.com/pixel/8ff4c106-3468-11de-a785-12313900c5b8" alt="." width="2" height="2" />
</body>
</html>