{% extends "main.html" %}

{% block title %} Where is My Bus?<br/>for DC Circulator {% endblock %}

{% block body %}
<p>
	<b>
	{{ stop.stop_title }}
	</b>
</p>

{% for d in stop.directions %}
	<p>
		<b>
			{{ d.route.title }}
			<br/>
			{{ d.title }}
		</b>

		<p>
		{% if stop.predictions %}
			Next vehicles in:
		{% endif %}	
		<ul>		
		{% for p in stop.predictions %}
			{% ifequal p.direction.title d.title %}
			<li>{{ p.minutes }} minutes</a></li>
			{% endifequal %}
			
		{% empty %}
		   	<li>Sorry, no predictions available at this time.</li>
		{% endfor %}
		</ul>
		</p>


	</p>	
{% endfor %}


{% endblock %}

